body {
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;
    color: black;
    background: white;
    background-size: 100%;
    background-repeat: none;
    background-position: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px; /* space between images */
  flex-wrap: wrap; /* allows wrapping on small screens */
}

.row img {
  width: 30%;
  height: auto;
  display: block;
}

a:link {
    color: black
}

h1 {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: pink;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* Main wrapper */
.main{
    display:flex;
    flex-direction:column;
    align-items:center;
    color: black;
}

/* Navigation */

.navigation ul{
    list-style:none;
    padding:0;
    margin:20px 0;
    color: black;

    display:flex;
    justify-content:center;
    gap:30px;
}

.navigation:hover{
    text-decoration:underline;
    font-weight:500;
    color: pink;
}


/* Sections */



.container {
    text-align:center;
    max-width:900px;
    margin:0 auto;
    padding:20px;
}






